In [12]:
import pandas as pd

### Assignment 1: Search for SNP and deletions in a sample

In order to obtain biological information on SNPs, insertions and deletions, manipulate SAM files in the following way:
1. Convert SAM file obtained in LAB2 to BAM
2. Sort BAM to make the following process faster.
3. Use bcftools to obtain a VCF file
4. Write a Python program to parse the VCF file and obtain only Single Nucleotides Polymorphism (SNP) for which the information is complete.
5. Write a Python program to parse VCF file and obtain only Insertions or Deletions (INDEL) for which the information is complete

In [71]:
VCF_FILE = "sorted.vcf"

file = parse_vcf(VCF_FILE)

df = pd.DataFrame(file, columns=['Chromosome', 'Position', 'ID', 'Reference', 'Alternative', 'Quality', 'Filter', 'Info', 'Format', 'bam file'])
df.head(15)

,Chromosome,Position,ID,Reference,Alternative,Quality,Filter,Info,Format,bam file
0,10,48636,.,T,[<*>],0,.,"DP=1;I16=0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;QS=0,...",PL,"0,0,0"
1,10,48637,.,G,[<*>],0,.,"DP=2;I16=0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0;QS=0,...",PL,"0,0,0"
2,10,48638,.,A,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,2,4,0...",PL,"0,3,60"
3,10,48639,.,A,[<*>],0,.,"DP=2;I16=1,0,0,0,74,5476,0,0,60,3600,0,0,3,9,0...",PL,"0,3,60"
4,10,48640,.,G,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,4,16,...",PL,"0,3,60"
5,10,48641,.,A,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,5,25,...",PL,"0,3,60"
6,10,48642,.,C,"[T, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,70,4900,0,0,60,3600,0,0,6...",PL,"60,3,0,60,3,60"
7,10,48643,.,C,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,7,49,...",PL,"0,3,60"
8,10,48644,.,T,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,8,64,...",PL,"0,3,60"
9,10,48645,.,G,[<*>],0,.,"DP=2;I16=1,0,0,0,74,5476,0,0,60,3600,0,0,9,81,...",PL,"0,3,60"
10,10,48646,.,C,[<*>],0,.,"DP=2;I16=1,0,0,0,74,5476,0,0,60,3600,0,0,10,10...",PL,"0,3,60"
11,10,48647,.,C,[<*>],0,.,"DP=2;I16=1,0,0,0,74,5476,0,0,60,3600,0,0,11,12...",PL,"0,3,60"
12,10,48648,.,C,[<*>],0,.,"DP=2;I16=1,0,0,0,70,4900,0,0,60,3600,0,0,12,14...",PL,"0,3,60"
13,10,48649,.,G,[<*>],0,.,"DP=2;I16=1,0,0,0,77,5929,0,0,60,3600,0,0,13,16...",PL,"0,3,60"
14,10,48650,.,A,[<*>],0,.,"DP=2;I16=1,0,0,0,73,5329,0,0,60,3600,0,0,14,19...",PL,"0,3,60"

In [16]:
find_SNP(df)

,Chromosome,Position,ID,Reference,Alternative,Quality,Filter,Info,Format,bam file
6,10,48642,.,C,"[T, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,70,4900,0,0,60,3600,0,0,6...",PL,"60,3,0,60,3,60"
31,10,48667,.,A,"[G, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,77,5929,0,0,60,3600,0,0,2...",PL,"60,3,0,60,3,60"
72,10,3642986,.,T,"[C, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,77,5929,0,0,7,49,0,0,25,6...",PL,"7,3,0,7,3,7"
93,10,3643007,.,G,"[C, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,70,4900,0,0,7,49,0,0,25,6...",PL,"7,3,0,7,3,7"
310,10,19491103,.,T,"[G, <*>]",0,.,"DP=1;I16=0,0,1,0,0,0,40,1600,0,0,60,3600,0,0,1...",PL,"40,3,0,40,3,40"
...,...,...,...,...,...,...,...,...,...,...
6960,18,78994238,.,C,"[T, <*>]",0,.,"DP=1;I16=0,0,0,1,0,0,40,1600,0,0,60,3600,0,0,2...",PL,"40,3,0,40,3,40"
6963,18,78994241,.,C,"[T, <*>]",0,.,"DP=1;I16=0,0,0,1,0,0,40,1600,0,0,60,3600,0,0,2...",PL,"40,3,0,40,3,40"
6970,18,78994248,.,G,"[A, <*>]",0,.,"DP=1;I16=0,0,0,1,0,0,40,1600,0,0,60,3600,0,0,1...",PL,"40,3,0,40,3,40"
6972,18,78994250,.,C,"[G, <*>]",0,.,"DP=1;I16=0,0,0,1,0,0,40,1600,0,0,60,3600,0,0,1...",PL,"40,3,0,40,3,40"
7002,18,79891262,.,G,"[C, <*>]",0,.,"DP=2;I16=0,0,1,0,0,0,80,6400,0,0,28,784,0,0,25...",PL,"28,3,0,28,3,28"

In [17]:
find_INDEL(df)

,Chromosome,Position,ID,Reference,Alternative,Quality,Filter,Info,Format,bam file
103,10,3643016,.,GCTC,[G],0,.,"INDEL;IDV=2;IMF=1;DP=2;I16=0,0,1,1,0,0,92,5800...",PL,"14,6,0"
2591,10,80247715,.,CGG,[CG],0,.,"INDEL;IDV=1;IMF=1;DP=1;I16=0,0,0,1,0,0,16,256,...",PL,"4,3,0"
7006,18,79891265,.,CT,[CTT],0,.,"INDEL;IDV=2;IMF=1;DP=2;I16=0,1,1,0,10,100,40,1...",PL,"23,1,0"

In [14]:
def parse_vcf(filename):
    
    file = list()
    
    with open(filename, "r") as f:
        for line in f:
            if line.startswith("#") == False:
                row    = [x.replace('\n', '') for x in line.split('\t')]
                row[4] = row[4].split(",")
                file.append(row)
                
    return file

def find_SNP(df):
    return df[ 
        df['Reference'].apply(lambda x: len(x)==1) &
            (
                df['Alternative'].apply(lambda x: len(x)==1 and "<*>" not in x and len(x[0]) == 1) |
                df['Alternative'].apply(lambda x: len(x)==2 and "<*>" in x and len(x[0]) == 1) 
            )]

def find_INDEL(df):
    return df[
        df.apply(lambda x: len(x['Reference']) != len(x['Alternative'][0]) and x['Alternative'][0] != "<*>", axis=1)
    ]

### Assignment 2: Raw read count for protein coding genes

With this assignment we want to calculate how many reads of our SAM file have been mapped on the protein coding genes of chromosome 10 and 18. First of all, we have to obtain names and genomic positions of each protein coding gene from chr10 and chr18.
* Write a python program that parses the gtf file and extract information about chromosome 10 and 18 (means first column equal to 10 or 18). Select only rows for which the feature is equal to “gene” and gene_biotype equal to “protein_coding”. Alternatively, you can perform this step using awk bash command (see awk documentation online https://www.gnu.org/software/gawk/manual/gawk.html#Very-Simple).
* Use samtools view to filter unmapped reads and supplementary alignments from the SAM file you obtained in LAB2. Save your results into a new SAM file (e.g. unique_aligned.sam)
* Using information from the reduced SAM and gtf files, write a Python script to calculate the raw read count for each protein coding gene in chr10 and chr18 (since the original files we provided you were truncated for computational feasibility, you will find a lot of genes with read count equal to zero).

In [151]:
GTF_FILE = "Homo_sapiens.GRCh38.95.gtf"

file = parse_gtf(GTF_FILE)

gtf_df = pd.DataFrame(file, columns=['Sequence', 'Source', 'Feature', 'Start', 'End', 'Score', 'Strand', 'Phase', 'Attributes'])

gtf_df["Count"] = 0

gtf_df = gtf_df.query('Sequence == "10" or Sequence == "18"')
gtf_df = extract_protein_coding_genes(gtf_df)
gtf_df

,Sequence,Source,Feature,Start,End,Score,Strand,Phase,Attributes,Count
1562179,10,ensembl_havana,gene,46892,74163,.,-,.,"gene_id ""ENSG00000261456""; gene_version ""5""; g...",0
1562267,10,ensembl_havana,gene,134465,254637,.,+,.,"gene_id ""ENSG00000015171""; gene_version ""19""; ...",0
1562732,10,ensembl_havana,gene,274190,689668,.,-,.,"gene_id ""ENSG00000151240""; gene_version ""16""; ...",0
1563015,10,havana,gene,649948,669581,.,+,.,"gene_id ""ENSG00000180525""; gene_version ""11""; ...",0
1563045,10,ensembl_havana,gene,806914,931705,.,-,.,"gene_id ""ENSG00000107929""; gene_version ""14""; ...",0
...,...,...,...,...,...,...,...,...,...,...
2410399,18,ensembl_havana,gene,79970811,80033949,.,-,.,"gene_id ""ENSG00000141759""; gene_version ""14""; ...",0
2410520,18,havana,gene,80034346,80097088,.,+,.,"gene_id ""ENSG00000267127""; gene_version ""7""; g...",0
2410565,18,ensembl_havana,gene,80034358,80046397,.,+,.,"gene_id ""ENSG00000101546""; gene_version ""12""; ...",0
2410636,18,ensembl_havana,gene,80109031,80147523,.,+,.,"gene_id ""ENSG00000101544""; gene_version ""8""; g...",0
2410709,18,ensembl_havana,gene,80157232,80247546,.,-,.,"gene_id ""ENSG00000178184""; gene_version ""15""; ...",0

In [152]:
SAM_FILE = "unique_aligned.sam"

file   = parse_SAM(SAM_FILE)
sam_df = pd.DataFrame(file, columns=['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 'RNEXT', 'PNEXT', 'TLEN', 'SEQ', 'QUAL'])

sam_df["LENGTH"] = sam_df.apply(lambda x: len(x.SEQ), axis=1)

sam_df

,QNAME,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL,LENGTH
0,ERX288614.1,99,10,55667614,39,12S79M1I9M,=,55667850,318,TTTTTCTAGACGGCAGGTCAGGTCCACCACTGACACGTTGGCAGTG...,<<BFFFF0BBF<0FFFFIBB0BFBF7BF0<<BFB0BFBF<<<0BFB...,101
1,ERX288614.1,147,10,55667850,39,19S82M,=,55667614,-318,AGTCCTTCCACGATACCAAAGTTGTCATGGATGTCCTTGGCCAGGG...,B<<<BB<<<<<B<B<B<<<B<B<BBBB<<<<77'<7<BBBBBBBBB...,101
2,ERX288614.2,185,10,45783567,0,38M63S,=,45783567,0,CCTCCCACCTCAGCCTCCCAAGTAGCTGGAACCACAGGAGGGTAAC...,<<0<B77BBBBBBB<7BBBBBB<BBBFBBBBB<<FFFFFIIFB<B<...,101
3,ERX288614.8,185,18,31416709,0,46S55M,=,31416709,0,AAAGGACATTGTGGTTAATTTTTTTTAATTTTTGGTTTTTTTGGGG...,#####################################BB777'0'0...,101
4,ERX288614.11,83,10,100057456,60,101M,=,100057454,-103,GTATAAGAGATCAGGTTCGTCCTTTAGTGTTGTGTATGGTTATCAT...,BBBBBFBFBBBBBBBBBBBBBBBBB<BBBBBFFFFFFFFFFFFIII...,101
...,...,...,...,...,...,...,...,...,...,...,...,...
222,ERX288614.390,163,10,21397719,40,24S19M58S,=,21397719,19,TTTCATTTGCTGGTGTGAGCCATGGGGTGTGTATTTGTATGTGGGG...,BBBFFFFFFFFFBFFBBFFFFIBFFFI'B<<<<BFFFFBBFBFFFF...,101
223,ERX288614.393,83,10,36523493,60,101M,=,36523405,-189,TTACAATATGTTCAAAAGCATCTTTTTCATGGTCTTTCCCCCAAGC...,###########BBBBBB<BB<BBBBB<BBB7BB<7B0FFBBB<<FB...,101
224,ERX288614.393,163,10,36523405,60,101M,=,36523493,189,CTTAGATCTTCACCCCATATTTTCTCACACGCATTATAAATGTCAT...,B0<BBFBFFBFBFBFFBB<FFFBFFFIFBFB7BFFB<FBFFFFBB<...,101
225,ERX288614.399,83,10,98800042,0,20M81S,=,98800043,-19,GAACAAAGAAAAAAAAAGGGGAGGGAAAGGACACCAAGTCTTGGGG...,0BBBFFBBFFFFFBBBFFFFFFFBBBFFFBBBBFFFFFFFFFFIII...,101
226,ERX288614.399,163,10,98800043,0,4S19M78S,=,98800042,19,CAGGAACAAAGAAAAAAAAAGGGGAGGGAAAGGACACCAAGTCTTG...,BBBFFFFFFFFFFIIIIIIIIIIIFFIIIIIIFBFBFFFFFFFFFF...,101

In [153]:
perform_raw_read_count(gtf_df, sam_df)

,Sequence,Source,Feature,Start,End,Score,Strand,Phase,Attributes,Count
1562179,10,ensembl_havana,gene,46892,74163,.,-,.,"gene_id ""ENSG00000261456""; gene_version ""5""; g...",2
1562267,10,ensembl_havana,gene,134465,254637,.,+,.,"gene_id ""ENSG00000015171""; gene_version ""19""; ...",2
1563589,10,ensembl_havana,gene,1177318,1737476,.,-,.,"gene_id ""ENSG00000185736""; gene_version ""15""; ...",2
1569992,10,ensembl_havana,gene,12349482,12835545,.,+,.,"gene_id ""ENSG00000183049""; gene_version ""12""; ...",1
1570132,10,ensembl_havana,gene,13099449,13138308,.,+,.,"gene_id ""ENSG00000123240""; gene_version ""16""; ...",2
...,...,...,...,...,...,...,...,...,...,...
2405878,18,ensembl_havana,gene,70003031,70205945,.,-,.,"gene_id ""ENSG00000176225""; gene_version ""13""; ...",1
2406784,18,ensembl_havana,gene,72536680,72638521,.,-,.,"gene_id ""ENSG00000141668""; gene_version ""9""; g...",2
2408563,18,ensembl_havana,gene,76978827,77133683,.,-,.,"gene_id ""ENSG00000197971""; gene_version ""14""; ...",2
2409234,18,ensembl_havana,gene,78980275,79002677,.,+,.,"gene_id ""ENSG00000256463""; gene_version ""8""; g...",2
2410189,18,ensembl_havana,gene,79863668,79900184,.,+,.,"gene_id ""ENSG00000178342""; gene_version ""4""; g...",2

In [150]:
def parse_gtf(filename):
    
    file = list()
    
    with open(filename, "r") as f:
        for line in f: 
            if line.startswith("#") == False:
                row = [x.replace('\n', '') for x in line.split('\t')]
                file.append(row)
        
    return file

def parse_SAM(filename):
    
    file = list()
    
    with open(filename, "r") as f:
        for line in f: 
            if line.startswith("#") == False:
                row = [x.replace('\n', '') for x in line.split('\t')]
                file.append(row[:11])
        
    return file

def extract_protein_coding_genes(df):
    return df[df.apply(lambda x: x.Feature == "gene" and "protein_coding" in x.Attributes, axis=1)]

def perform_raw_read_count(gtf_df, sam_df):
    
    for gtf_index, gtf_row in gtf_df.iterrows():
        
        for sam_index, sam_row in sam_df.iterrows():
            
            if int(gtf_row.Start) <= int(sam_row.POS) and int(sam_row.POS) + sam_row.LENGTH <= int(gtf_row.End):
                gtf_df.loc[gtf_index, 'Count'] += 1
            
    return gtf_df[gtf_df.Count != 0]